
<strong><h1 class="my-3 p-2 bg-light text-dark p-3 rounded">Veja as nossas ofertas da <h1 class="text-danger">Promoções imperdíveis</h1><h6>(por tempo limitado)</h6></h1></strong> <!--Titulo da página de Black Friday-->

<br>
<br>

<div class="row mt-3 ml-2">

  <div class="col md-3"><!--Mortal Kombat 11-->
    <app-card-produto
      foto='https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRO4dAjO5811ljLOyZZbThpct55WC4DTddgqjldPIngRT17BGSP-ML09vGBSKWYK6hMpj0_RVQJilwQQzHHH7dzf1dwH5cPrv9ny6nu-_t17xrMB5yggHEG&usqp=CAE'
      nomeProduto="CAMISETA DE ANIME GIRL"
      [idProduto]="3"
      lancamento="2019-04-22"
      [precoProduto]="59.99"
      plataformas="GG"
      [quantidadeMF]="30">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Street Fighter V-->
    <app-card-produto
      foto='https://www.dhresource.com/0x0/f2/albu/g9/M01/C2/A8/rBVaWF4b1nCANk6VAAZQItOmB20773.jpg'
      nomeProduto="Kaguya Sama Love Is T-shirt"
      [idProduto]="2"
      lancamento="2016-02-16"
      [precoProduto]="159.99"
      plataformas="Camisetas"
      [quantidadeMF]="60">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Assassin's Creed Origins-->
    <app-card-produto
      foto='https://ae01.alicdn.com/kf/H08a82a26a62b457d80b7f1cd329d0f75l/Camiseta-estampa-3d-do-anime-kaguya-sama-camiseta-masculina-e-feminina-hipster-fujiwara-chika-hippie-roupa.jpg_Q90.jpg_.webp'
      nomeProduto="kaguya sama Chikka Fujiwara"
      [idProduto]="6"
      lancamento="2017-10-27"
      [precoProduto]="113.99"
      plataformas="Camisetas"
      [quantidadeMF]="70">
    </app-card-produto>
  </div>

</div><!--Fim da row da primeira linha de Jogos em promoção-->

<div class="row mt-3 ml-2">

  <div class="col md-3"><!--Far Cry 4-->
    <app-card-produto
      foto='https://a-static.mlcdn.com.br/800x560/camiseta-death-note-l-camisa-anime-100-algodao-if-camisas/ifcamisas/42de400ee40f11eba2864201ac18500e/9d6fbd3d7016ed1cd2b24b95d42f812f.jpg'
      nomeProduto="Camisa Death Note L"
      [idProduto]="11"
      lancamento="2014-11-18"
      [precoProduto]="34.00"
      plataformas="Camiseta"
      [quantidadeMF]="30">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Overwatch-->
    <app-card-produto
      foto='https://http2.mlstatic.com/D_NQ_NP_632906-MLB47097505053_082021-O.jpg'
      nomeProduto="Camiseta Naruto"
      [idProduto]="10"
      lancamento="2016-05-03"
      [precoProduto]="50.00"
      plataformas="Camisetas"
      [quantidadeMF]="65">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Call of Duty Cold War-->
    <app-card-produto
      foto='https://images.tcdn.com.br/img/img_prod/697287/camiseta_goku_dragon_ball_z_gt_super_sayajin_anime_manga_4447_2_20190910115333.jpg'
      nomeProduto="Camiseta Goku"
      [idProduto]="12"
      lancamento="2020-11-23"
      [precoProduto]="69.00"
      plataformas="Camisetas"
      [quantidadeMF]="120">
    </app-card-produto>
  </div>

</div><!--Fim da row da segunda linha de Jogos em promoção-->

<br>
<br>
<br>
<br>






